<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns       = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "info.wumzi.speechapp"
        versionCode = "1"
        version     = "0.1a">
 
    <name>SpeechApp</name>
 
    <description>
        SpeechApp, a state of the art speech recognition technology
    </description>
 
    <author href="http://speechapp.wumzi.info" email="max@wumzi.info">
        Maxime Ernoult for the MIG SE Team
    </author>
 
    <feature name="http://api.phonegap.com/1.0/media"/>
    <feature name="http://api.phonegap.com/1.0/file"/>

 
</widget>
